.App {
  text-align: center;
}

.App-header {
  background-color: #ff0052;
}

.App-header h2 {
  margin: 0;
  padding: 20px 0;
  color: white;
}

.App-main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.Address-List {
  border: 2px solid white;
  border-collapse: collapse;
}

.Address-List th,
.Address-List td{
  padding: 20px;
  border: 2px solid #ff0052;
}